* {
  cursor: url("/images/Cursor.png"), auto;
}

.MainWrapper {
  background: url("/images/Background.png");
  background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição */
  height: 100vh;
}

.MainWrapper:has(.BackgroundStuff) {
  height: 100vh !important;
}

.MainContent {
  width: 100%;
  z-index: 99999;
}

.BackgroundStuff {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 0 !important;
}

.ImageCroc {
  position: fixed;
  left: 20;
  top: 280;
  rotate: -25deg;
}

.ImageCat {
  position: fixed;
  left: 600;
  top: 250;
  rotate: 25deg;
}

.ImageReaper {
  position: fixed;
  left: 1000;
  top: 250;
  rotate: 10deg;
}

.ImageShock {
  position: fixed;
  left: 0;
  bottom: 0;
  rotate: 0deg;
}

.ImageMummy {
  position: fixed;
  right: -200;
  bottom: 200;
  rotate: 280deg;
}

.ImageHand {
  position: fixed;
  left: 700;
  bottom: 50;
  rotate: 320deg;
}

.ImageButterfly {
  position: fixed;
  left: 1200;
  bottom: 100;
  rotate: -5deg;
}

.ImageGhostBusters {
  position: fixed;
  left: 1300;
  bottom: 450;
  rotate: -5deg;
}

.ImageSkull {
  position: fixed;
  left: 300;
  bottom: 250;
  rotate: -5deg;
}
